* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --white-color: #ffffff;
    --dark-color: #000000;
    --primary-color: #2a2624;
    --secondary-color: #e58756;
    --ligth-color: #f7f7f7;
    --medium-gray-color: #ccc;

    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    --border-radius-s: 88px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    --site-max-width: 1300px;
}

main {
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button {
    outline: none;
    border: none;
}

header {
    position: fixed;
    width: 100%;
    padding: 20px;
    z-index: 5;
    transition: background-color 0.3s ease;
}

header.scroll {
    background-color: var(--ligth-color);
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    padding: 10% 5% 0;
}

.section {
    display: flex;
    justify-content: center;
}

.hero-section {
    background: linear-gradient(150deg, hsl(0, 0%, 22%) 0%, #2a2624 30%);
}

.hero-section .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--white-color);
}

.hero-section .title {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
    line-height: 120%;
    color: var(--white-color);
}

.hero-section .container-right {
    width: 50%;
}

.hero-section .container-right .description {
    margin: 24px 0 40px;
    max-width: 60%;
    font-size: var(--font-size-m);
}

.hero-section .container-left {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
}

.hero-section .container-left .home__orbe {
    width: 265px;
    height: 284px;
    background: linear-gradient(180deg,
    hsl(0, 0%, 16%) 93%,
    hsl(0, 0%, 67%) 100%);
    border-radius: 135px 135px 0 0;
}

.hero-section .container-left .home__img {
    position: absolute;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    box-shadow: 0 16px 32px hsla(228, 66%, 25%, .25);
}

@media screen and (max-width: 768px) {
    .container {
        padding: 15% 5% 0;
    }

    .hero-section .hero-container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        color: var(--white-color);
    }

    .hero-section .container-right {
        width: 100%;
    }

    .hero-section .container-left {
        height: 100%;
        width: 100%;
    }

    .hero-section .container-left .home__img {
        bottom: -1.5rem;
    }
}